h1{
	font-size: 50px;
	margin: 0.5em 1em;
	text-align: center;
}

table{
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
}


/*

box1 box2 box3
box4 box5 box6
box7 box8 box9

*/


/*first pad all the boxes so they look the right size*/
td{
	padding: 40px;
}


/*
draw left and right border on
box2
box5
box8
*/
tr td:nth-of-type(2){
	border-left: 2px solid black;
	border-right: 2px solid black;
}



/*
draw top and bottom border on
box4 box5 box6
*/
table { 
	border-collapse: collapse; 
}
tr:nth-child(2) { 
	border-top: 2px solid black;
	border-bottom: 2px solid black; 
}

